.product {
    background-color: #f0f0f0; /* Слегка затемненный фон */
    border-radius: 8px; /* Скругление углов */
    padding: 20px; /* Отступы внутри прямоугольника для контента */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Слегка затемненная тень для эффекта "всплывания" */
    margin: 30px; /* Отступы сверху и снизу для разделения между элементами */
}

.content {
    margin: 30px;
}