{% extends 'bublik/base.html' %}
{% load static %}

{% block content %}
	<div class="container text-center">
		<div class="row product">
			<div class="col-4">
				<button id="reset-button" class="btn btn-primary">Сбросить корзину</button>
			</div>
			<div class="col">
				<form id="cart-form" action="/order/new/" method="POST">{% csrf_token %}
					<!-- Динамические поля будут добавлены сюда с помощью JavaScript -->
					<div class="row">
						<div class="col">
							<select class="form-select" name="payment_method">
								<option selected value="card">Карта</option>
								<option value="cash">Наличные</option>
								<option value="perevod">Перевод</option>
							</select>
						</div>
						<div class="col">
							<button type="submit" class="btn btn-success">Сохранить заказ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container text-center">
	{% for product in products %}
		<div class="row product" data-product-id="{{ product.id }}">
			<h3>{{ product.name }} - {{ product.price }}</h3>
			<p>В корзине: <span class="product-quantity" data-product-id="{{ product.id }}">0</span></p>
		</div>
	{% endfor %}
	</div>

	<script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}