{% extends 'bublik/base.html' %}
{% load static %}

{% block content %}
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<button id="reset-button" class="product">Сбросить корзину</button>
			</div>
			<div class="col">
				<form id="cart-form" action="/order/new/" method="POST">{% csrf_token %}
					<!-- Динамические поля будут добавлены сюда с помощью JavaScript -->
					<button type="submit" class="product">Сохранить заказ</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container text-center">
	{% for product in products %}
		<div class="row product" data-product-id="{{ product.id }}">
			<h3>{{ product.name }} - {{ product.price }}</h3>
			<p>В корзине: <span class="product-quantity" data-product-id="{{ product.id }}">0</span></p>
		</div>
	{% endfor %}
	</div>

	<script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}