{% extends 'bublik/base.html' %}
{% load custom_filters %}

{% block content %}
	
    <h1>Дата: {% now "d-m-Y" %}</h1>

    <h3>Отчет по товарам:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for row in product_table %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.cnt }}</td>
                    <td>{{ row.sum }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Отчет по суммам:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Итого</th>
                <th>Наличными</th>
                <th>Картой</th>
                <th>Переводом</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cash_table %}
                <tr>
                    <td>{{ row.main }}</td>
                    <td>{{ row.cash }}</td>
                    <td>{{ row.card }}</td>
                    <td>{{ row.perevod }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Проценты:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>1 сотрудник (20%)</th>
                <th>2 сотрудника (10%)</th>
                <th>3 сотрудника (7%)</th>
                <th>4 сотрудника (6%)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cash_table %}
                <tr>
                    <td>{{ row.main|multiply:0.20|floatformat:"2" }}</td>
                    <td>{{ row.main|multiply:0.10|floatformat:"2" }}</td>
                    <td>{{ row.main|multiply:0.07|floatformat:"2" }}</td>
                    <td>{{ row.main|multiply:0.06|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Для комментариев</h3>
    <textarea placeholder="Введите что-нибудь" style="width: 100%; height: 200px;"/></textarea>

{% endblock %}